body{
    background-color: rgb(133, 255, 127);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

ol{
    list-style-position: inside;
    color: blue
}

ul{
    list-style-position: inside;
    color: blue
}

.header{
    background-color: blue;
    color: rgb(255, 127, 127);
    height:100px;
    line-height: 100px;
}

.mainbody{
    background-color: antiquewhite;
    left:5px;
    right:5px;
}

.footer{
    background-color: blue;
    color:bisque;
    height:20px;
    bottom: 0px;
    position:fixed;
    left:5px;
    right:5px;
    padding-top:15px;
    font-size: 10px;
}

.common{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.tabl{
    right: 25%;
    left:18.5%;
    width:50%;
}

.B{
    font-weight: bold;
}

.list{
    text-align: left;
    width: 25%;
    left: 59%;
    padding-left: 40%;
    padding-top: 10px;
}